html {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 12px;
}

body {
  background-color: darkgreen;
  color: white;
  text-align: center;
  display: block;
  justify-content: center;
}

textarea {
  border: none;
  display: block;
  margin-bottom: 50px;
  margin-left: 180px;
  height: 200px;
  resize: none;
  width: 900px;
}

button {
  background-color: crimson;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-left: 585px;
  margin-bottom: 80px;
  margin-right: 20px;
  display: flex;
}

#check {
  margin-left: 513px; 
  margin-top: 20px;
}

#clear {
  margin-left: 695px;
  margin-top: -120px;
}

#center {
  justify-content: center;
  align-items: center;
}

#result {
  background-color: crimson;
  color: white;
  width: 30%;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: -30px;
  margin-bottom: 50px;
  padding: 20px;
  margin-left: 430px;
}

footer {
  background-color: crimson;
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 36px;
}
